/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: 1vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* VARIABLES */

:root {
    --base-hue: 0;
    --light: 95%;
    --mid: 60%;
    --dark: 10%;
    --saturated: 80%;
    --desaturated: 20%;
    --fully-desaturated: 5%;
}

/* ELEMENT STYLING */

body {
    font-size: clamp(14px, 1.2rem, 20px);
}

h1 {
    font-size: clamp(22px, 2.2rem, 28px);
}

h3 {
    font-size: clamp(16px, 1.6rem, 24px);
}


h4 {
    font-size: clamp(14px, 1.4rem, 22px);
}

button {
    width: max(100px, 10rem);
}

input, 
button {
    height: max(30px, 4rem);
    border-radius: 0.5rem;
}

/* HEADER */

#checkin-desk {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--light));

    position: sticky;
    height: 30svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkin-desk-grid {
    --bg-hue: var(--base-hue);
    --txt-hue: calc(var(--base-hue) + 120);
    background: hsl(var(--bg-hue), var(--desaturated), var(--dark));
    color: hsl(var(--txt-hue), var(--desaturated), var(--light));

    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 1rem 1rem 0 1rem;
    padding: max(10px, 1rem);
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

#checkin-welcome-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-column: 1 / 3;
    padding-left: 2rem;
}

#searchbar {
    padding-left: 1rem;
    margin: 0 3rem 0 1rem;
}

#checkin-buttons-flex {
    display: flex;
    gap: 1rem;
}

/* BOOK CONTAINER */

#book-container {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--light));

    padding: 0 1rem;
    height: 100%;
    min-height: 60svh;
}

#book-grid {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--dark));

    display: grid;
    min-height: calc(60svh - 2rem);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: max(8px, 1rem);
}

#book-grid-title-flex {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--dark));

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

#book-grid-title {
    --txt-hue: calc(var(--base-hue) + 120);
    color: hsl(var(--txt-hue), var(--desaturated), var(--light));
}

#add-book-button {
    background-image: url(./icons/add.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
    height: max(22px, 3rem);
    width: max(22px, 3rem);
}

#add-book-button,
.delete-book-button,
button {
    scale: 1;
    transition: scale 150ms ease-in-out;
    cursor: pointer;
}

#add-book-button:hover,
.delete-book-button:hover,
#add-book-button:focus-within,
.delete-book-button:focus-within {
    scale: 1.2;
}

button:hover,
button:focus-within {
    scale: 1.1;
}

.book-card {
    --hue: calc(var(--base-hue) + 60);
    background: hsl(var(--hue), var(--saturated), var(--light));
    border: 1px solid hsl(var(--hue), var(--desaturated), var(--dark));
    border-radius: 1rem;

    height: 250px;
    display: grid;
    grid-template-rows: min-content;
    align-items: stretch;
    justify-content: stretch;
    padding: 1rem;
}

.book-title.collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    --txt-hue: var(--base-hue);
    color: hsla(var(--txt-hue), var(--fully-desaturated), var(--mid));
    padding-bottom: 1rem;
}

.book-description.collapsed {
    height: 3ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-actions-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.delete-book-button {
    background-image: url(./icons/delete.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}

.input-pages-read {
    height: 24px;
    padding-left: 0.5rem;
}

.progress-bar {
    position: relative;
    z-index: 2;
    --hue: var(--base-hue);
    background: hsl(var(--base-hue), var(--desaturated), var(--mid));
    border-radius: 9999px;
    width: 0;
    height: 10px;
    transition: width 300ms ease-in-out; 
}

.progress-bar.full {
    --hue: calc(var(--base-hue) + 180);
    background: hsl(var(--hue), var(--desaturated), var(--mid));
}

.progress-bar-bg {
    --hue: var(--base-hue);
    background: hsl(var(--base-hue), var(--desaturated), var(--light));
    
    position: absolute;
    content: "";

    border-radius: 9999px;
    top: 9px;
    left: 0;
    width: 90%;
    height: 10px;
}

/* FOOTER */

#footer-container {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--light));
    
    height: 10svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#external-links {
    --bg-hue: var(--base-hue);
    --txt-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--dark));
    color: hsl(var(--txt-hue), var(--desaturated), var(--light));

    margin: 0 1rem 1rem 1rem;
    width: 98%;
    border-radius: 0 0 1rem 1rem;
    list-style: none;
    min-height: 10svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ADD AND DELETE BOOK MODALS */

#add-book-modal,
#delete-book-modal {
    position: fixed;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    z-index: 1000;
    transition: all 300ms ease-in-out;
}

#add-book-modal.active,
#delete-book-modal.active {
    --bg-hue: var(--base-hue);
    background: hsla(var(--bg-hue), var(--desaturated), var(--dark), 0.9);

    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#add-book-modal-grid,
#delete-book-modal-grid {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--saturated), var(--light));

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    height: auto;
}

#add-book-modal-grid {
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    width: 70vw;
    max-height: 90svh;
}


#delete-book-modal-grid {
    grid-template-rows: 1fr 1fr;
    width: 50vw;
}

#add-book-modal-grid.fade,
#delete-book-modal-grid.fade {
    display: none;
}

.modal-title {
    grid-column: 1 / 7;
    text-align: center;
}

#required-fields {
    --hue: var(--base-hue);
    color: hsl(var(--hue), var(--saturated), var(--mid));
    grid-column: 1 / 7;
}

#add-book-modal-grid > label {
    grid-column: 1 / 4;
}

#add-book-modal-grid > input {
    grid-column: 4 / 7;
}

#add-book-modal-grid > input:not([id="add-pages-read"]):valid {
    --hue: calc(var(--base-hue) + 180);
    border: 1px solid hsl(var(--hue), var(--saturated), var(--mid));
}

#add-book-modal-grid > input:not([id="add-pages-read"]):invalid {
    --hue: var(--base-hue);
    border: 1px solid hsl(var(--base-hue), var(--saturated), var(--mid));
}

#add-book-modal-grid > textarea {
    grid-column: 4 / 7;
    resize: none;
    height: 100%;
    width: 100%;
}

#add-book-modal-grid > button,
#delete-book-modal-grid > button {
    --bg-hue: var(--base-hue);
    background: hsl(var(--bg-hue), var(--desaturated), var(--dark));
    color: hsl(var(--bg-hue), var(--desaturated), var(--light));
    width: 100%;
}

#confirm-add-book-button,
#confirm-delete-book-button {
    grid-column: 2 / 4;
}

#cancel-add-book-button,
#cancel-delete-book-button {
    grid-column: 4 / 6;
}
